
{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 text-center">
        <h1>New Wrestler</h1>

        <form action=" " method='post'>
          <p>Name (cannot be blank):</p>
          <input type='text' size='30' name='name' required>
          <p>Description (cannot be blank):</p>
          <input type='text' size='30' name='description' required>
          <p>Finisher (cannot be blank):</p>
          <input type='text' size='30' name='finisher' required>
          <br>
          <input type='submit' value='Create'>

        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  </div>
{% endblock %}